p {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
  transition: all .2s ease-in-out;
}

.transition {
  transition: all .2s ease-in-out;
}

.transition:hover {
  transform: translate(.5rem);
}

* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

.social-icon:hover {
  transform: translateY(-.5rem)
}

body {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

/* main */
.hero {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url('../assets/resized.webp');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}


.community-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 12rem;
  height: 3rem; */
  background: linear-gradient(#690000, #870707);
  border: none;
  border-radius: .5rem;
  font-size: 1.3rem;
  color: white;
  padding: 1.5rem 1.5rem;
  position: absolute;
  transition: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/* footer */
footer {
  display: flex;
  padding: 2.5rem 6rem 3rem 6rem;
  background-color: white;
  justify-content: space-between;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.links-container {
  display: flex;
  gap: 5rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.links>a {
  transition: all .2s ease-in-out;
}

.links>a:hover {
  transform: translateX(.2rem);
}


.footer-headings {
  font-weight: bold;
}

.footer-logo {
  height: 4rem;
  width: auto;
}

.socials-container {
  display: flex;
  gap: .9rem;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
}

.social-icons {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}

.social-icon {
  height: 2rem;
  width: 2rem;
  padding: .25rem;
  border-radius: .2rem;
  background-color: rgb(15, 15, 15);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  transition: all .2s ease-in-out;
}

.copyright {
  align-self: flex-end;
}


@media (max-width: 1200px) {
  /* Place largest breakpoint first if needed */
}

@media (max-width: 992px) {
  footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .links-container {
    gap: 4rem;
  }

  .footer-logo {
    height: 3.5rem;
  }

  p {
    font-size: .91rem;
  }

  h6 {
    font-size: 1.4rem;
  }

  .socials-container {
    padding-right: 1rem;
  }

  .hero {
    background-image: url('../assets/resized\ tablet.png');
  }
}

@media (max-width: 512px) {
  .hero {
    height: 80vh;
    background-image: url('../assets/resized\ mobile.png');
  }

  footer {
    gap: 2rem;
    flex-direction: column;
    padding: 2rem;
    min-height: 40vh;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .copyright {
    align-self: flex-start;
  }

  .socials-container {
    margin-top: 2rem;
    justify-content: flex-start;
    padding-right: 0;
  }

  .footer-logo {
    height: 4rem;
    width: auto;
  }

  .links-container {
    flex-direction: column;
    gap: 2rem;
  }
}